@import '../../../styles/variables';

.main-layout {
  position: relative;
  display: flex;

  .main-layout-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .over {
    &.show {
      position: absolute;
      background: rgba(0, 0, 0, 0.45);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
    }
  }
}
