@import '../../../styles/variables';

.main-layout {
  position: relative;
  display: flex;

  .main-layout-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  /** Loader and spinner styles*/
  $huni-logo-color: #d52123;
  $size: 48px;
  .spinner-overlay {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    background-color: rgba(0, 0, 0, 0.45);
    //background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Make sure the overlay appears above other content */
  }
  .loader-container {
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    //  transform: translate(-50%, -50%);
    z-index: 1000000;

    .loader-1 {
      width: $size;
      height: $size;
      border: 5px solid white;
      border-bottom-color: $huni-logo-color;
      border-radius: 50%;
      display: inline-block;
      animation: rotation 1s linear infinite;
      z-index: 10000000;
    }

    .loader-2 {
      width: $size;
      height: $size;
      border: 3px solid white;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      animation: rotation 1s linear infinite;
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $size - 8px;
        height: $size - 8px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom-color: $blue-color;
      }
    }

    .loader-20 {
      width: $size;
      height: $size;
      border: 5px solid;
      border-color: white transparent;
      border-radius: 50%;
      display: inline-block;
      animation: rotation 1s linear infinite;
    }
  }

  

  @keyframes rotation {
    to {
      transform: rotate(360deg);
    }
  }

  .over {
    &.show {
      position: absolute;
      background: rgba(0, 0, 0, 0.45);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
    }
  }
}
