{
    "settings": {
      "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
      "import/parsers": {
        "@typescript-eslint/parser": [".ts", ".tsx"]
      },
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      },
      "react": {
        "version": "detect"
      }
    },
    "env": {
      "node": true,
      "commonjs": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:import/typescript",
      "plugin:react/jsx-runtime",
      "plugin:prettier/recommended",
      "plugin:jsx-a11y/recommended",
      "prettier",
      "airbnb-typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "plugins": ["react", "@typescript-eslint", "import", "jsx-a11y", "react-hooks", "prettier"],
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/no-unused-vars": [
        "warn",
        {
          "argsIgnorePattern": "^_",
          "varsIgnorePattern": "^_",
          "caughtErrorsIgnorePattern": "^_"
        }
      ],
      "default-param-last": "off",
      "@typescript-eslint/default-param-last": ["off"],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "@typescript-eslint/explicit-function-return-type": "off",
      "indent": "off",
      "@typescript-eslint/indent": ["off"],
      "prettier/prettier": [
        "warn",
        {
          "endOfLine": "auto",
          "singleQuote": true
        }
      ],
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "": "never",
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ]
    },
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"],
        "excludedFiles": ["*test.tsx"],
        "rules": {
          "@typescript-eslint/explicit-function-return-type": ["error"]
        }
      }
    ]
  }
  