@import '../../../../styles/variables';

.side-menu {
  z-index: 101;
  background-color: $background-color;
  position: absolute;
  height: 100%;

  .ant-menu-dark .ant-menu-item-group {
    width: 90%;
    margin: 0.7em auto;
    border-radius: 5px;
    &-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: unset;
    }
    a {
      color: rgba(255, 255, 255, 0.65);
      font-size: 14px;
      padding: 8px 16px;
      height: 100%;
      border-radius: 5px;
      display: flex;
      align-items: center;
      height: 40px;
      &.active {
        color: #fff;
        background-color: $orange-color;
      }
    }

    &:hover a {
      color: #fff;
    }
  }

  .ant-layout {
    &-sider {
      background-color: $header-sideMenu-black;
      &-zero-width-trigger {
        display: none;
      }
      &-children {
        padding-top: 1em;
        overflow-y: auto;

        .ant-menu-dark {
          background: $header-sideMenu-black;
        }
      }
    }
    &-has-sider {
      width: 0;
      height: calc(100vh - 61px);
    }
  }
}
