@import '@/styles/variables';

.reallocation-of-planning {
  display: flex;
  flex-direction: column;
  width: 85vw;

  .ant-modal-content {
    height: 80vh;
  }

  .reallocation-inputs {
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
    gap: 20px;
    .ant-input-disabled,
    .ant-input[disabled] {
      height: 50px;
    }

    .custom-switch {
      //height: fit-content;
      //  height: 50px;
      gap: 10px;
      align-self: center;
      margin-top: 20px;
      button {
        height: 24px;
      }
    }

    button {
      align-self: flex-end;
      height: 50px;
    }
  }
}

.reallocation-modal {
  .ant-modal-footer {
    .ant-btn:last-child {
      display: none;
    }
  }
}

.indicator {
  width: 30px;
  height: 30px;
  border: 1px solid $gray-light;
  align-self: center;
  margin-top: 25px;
  border-radius: 8px;
  background-color: $gray-light;
}

.green-indicator {
  background-color: $green-color;
}

.red-indicator {
  background-color: $red-color;
}

.table-wrapper {
  margin-top: 25px;
  .custom-input .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    min-height: unset;
    font-size: 14px;
  }

  .ant-picker {
    height: unset;
    font-size: 14px;
    min-width: 120px;
  }

  .custom-input .ant-select {
    width: 300px;
  }
}
