.order-replacement-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  margin: 50px 0 0;
  overflow: hidden;
  padding-right: 1.5em;

  @media screen and (width < 830px) {
    width: 100%;
  }

  .order-placement-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 28px;

    & > * {
      grid-column: span 1;
      width: 100%;
    }
  }

  .button-container {
    margin: 40px 0;
    display: flex;
    gap: 40px;
  }

  .ant-table-empty .ant-table-tbody > tr > td {
    padding-left: 14px;
    padding-right: 14px;
  }
}
