.materials-form {
  margin: 50px 0;

  display: grid;
  grid-template-columns: 28% 28%;
  gap: 24px 21px;
  @media screen and (width < 900px) {
    grid-template-columns: 20% 20%;
  }

  .row-separator {
    grid-column: 1 / span 4; /* Spans both columns */
    grid-row: 3; /* Separates the first row from the second row */
    border-bottom: 1px lightgrey solid; /* Adds a border at the bottom of the separator */
    margin-bottom: -5px;
  }

  .material-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-right: 20%;

    .id-field {
      font-size: 36px;
      padding-left: 10px;
    }

    .createdOn {
      // margin-left: auto;
      padding-right: 16px;
    }

    .custom-switch {
      //gap: 43px;
      //min-width: 45%;
      // padding-left: 32px;
      //  justify-content: flex-start;
      label {
        // margin-right: 16px;
      }
    }
  }

  .stretch {
    grid-column: span 2;
  }

  // .start {
  //   grid-column: 1 / span 2;
  // }

  // .end {
  //   grid-column-start: 4;
  // }
}
.new {
  .materials-form {
    grid-template-columns: repeat(4, 1fr);
    .material-id {
      margin-right: 0;
      justify-content: flex-start;
      grid-column: unset;
    }
  }
}
