p {
  margin-bottom: 0em;
}

.button-children {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

.span-full {
  grid-column: span 2;
}

.grayed-out-table {
  opacity: 0.6; /* Adjust the opacity to control the level of grayed-out effect */
  pointer-events: none; /* Prevent interaction with the table */
}
