.routes-modal {
  .ant-modal-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 32px;

    .colspan {
      grid-column: span 2;
    }
  }

  .execute {
    display: flex;
    align-items: center;
    gap: 10px;

    .custom-checkbox {
      margin-top: 20px;
      padding-right: 5px;
    }
  }
}
