.routes {
  display: flex;
  flex-direction: column;

  .routes-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0em;
    }

    .buttons {
      display: flex;
      gap: 8px;
      height: 48px;
    }

    .subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.02em;
    }

    .routes-info {
      display: flex;
      flex-direction: column;
      //justify-content: flex-end;

      .total-lead {
        font-size: 16px;
        align-self: flex-start;
        margin-bottom: 10px;
        margin-top: 5px;
        font-weight: 500;
      }
    }

    .titles {
      padding-bottom: 12px;
    }
  }

  .button-children {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
  }

  .ant-table-container {
    // overflow: auto;
  }
  .ant-table-body {
    overflow: auto;
  }

  .table-wrapper {
    margin-top: 0;
    .ant-table-cell.ant-table-cell-scrollbar {
      //background-color: #dfa523;
      background-color: #f8b400;
      box-shadow: none;
    }
    .ant-table-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media screen and (width > 830px) {
    table tr > * {
      width: 9%;
      min-width: 50px;
    }
    table tr > *:nth-child(3) {
      width: 15%;
      min-width: 100px;
    }
    .table-wrapper {
      margin-top: 10px;
    }
  }

  @media screen and (width < 830px) {
    .table-wrapper {
      overflow-y: auto;
      margin-top: 10px;
    }
    .ant-table-wrapper {
      width: 150%;
      max-width: none;
    }
  }
}
