@import '@/styles/variables';

.confirm-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 80px 16px 16px;

  img {
    margin: 0;
    width: 32px;
  }

  span {
    color: $navy-60;
  }
}
