.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .custom-input input {
    @media (width < 1024px) {
      width: 100%;
    }
  }

  @media (width < 1024px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    margin-bottom: unset;
  }

  .buttons {
    display: flex;
    gap: 10px;

    @media (width < 1024px) {
      margin: 15px 0 0 0;
    }

    @media (width < 925px) {
      flex: 1;
      justify-content: space-between;
      margin-top: 1em;
    }

    @media (width < 769px) {
      margin: 15px 0px;
      flex-direction: row;
      gap: 10px;
    }

    .button-children {
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: 14px;
      white-space: nowrap;
      text-align: center;

      img {
        height: 20px;
        @media (width < 1050px) {
          height: 17px;
        }
      }

      @media (width < 1050px) {
        font-size: 12px;
      }
    }

    .button {
      width: 100%;
    }
  }

  .filters {
    display: flex;
    gap: 60px;
  }
}
