@import '@/styles/variables';

$pc-breakpoint: 1100px;
$tablet-breakpoint: 920px;

.confirm-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 80px 16px 16px;

  img {
    margin: 0;
    width: 32px;
  }

  span {
    color: $navy-60;
    word-wrap: break-word;
    max-width: 560px;
    text-align: center;
  }
}

.production-order-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;

  .form-container {
    .productionOrder-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .id-container {
        display: flex;
        flex-grow: 1;
        justify-content: left;
        padding-right: 3em;
        .custom-input:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .custom-input:first-child {
          font-size: 36px;
          font-weight: lighter;
          display: flex;
          justify-content: center;
          align-items: center;
          .readonly {
            padding-left: 10px;

            @media screen and (width < 1150px) {
              font-size: 20px;
            }
          }
        }
      }
      .header-right {
        display: flex;
        flex-grow: 1;
        justify-content: right;
        gap: 16px;
        padding-left: 3em;
        .custom-input {
          max-width: 250px;
        }
      }

      .border {
        grid-column: span 2;
        border-bottom: 1px lightgrey solid;
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
      }

      .customer {
        display: flex;
        flex-grow: 1;
        justify-content: left;

        gap: 1em;

        .custom-input {
          max-width: none;

          padding-right: 3em;
        }
      }
      .sales-order {
        padding-left: 3em;
        display: flex;
        gap: 1em;
        flex-grow: 1;
        justify-content: right;
        @media (max-width: 768px) {
          justify-content: start;
        }
      }
      .custom-input {
        max-width: 250px;
      }

      .material-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;

        border-right: 1px solid lightgray;
        flex: 1;
        padding-right: 3em;
        padding-top: 2em;
      }

      .material-section {
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;

        border-right: 1px solid lightgray;
        flex: 1;
        padding-right: 3em;
        @media (max-width: 768px) {
          border-right: none;
          width: 100%;
          padding-right: 0;
          border-bottom: 1px lightgray solid;
          padding-bottom: 1em;
        }

        .details {
          grid-column: span 2;
          padding: 5px;
        }

        .uom-label {
          align-self: end;
          justify-self: left;
          padding: 1em;
        }

        .custom-input {
          max-width: none;
        }

        .custom-input:nth-child(1) {
          grid-column: span 2; /* Single column that spans 2 grid tracks */
          max-width: unset;
        }
      }

      .date-section {
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        flex: 1;
        padding-left: 3em;
        width: 100%;

        .remark {
          flex: 1;

          grid-column: span 2;

          .custom-input {
            max-width: none;
            padding-top: 134px;
            textarea {
              height: 225px !important; //TODO -134 and add padding to custom-input of 134px 358-134=244
            }
          }
        }

        // .custom-input:last-child {
        //   align-self: end;
        //   padding-bottom: 4px;
        // }
        @media (max-width: 768px) {
          width: 100%;
          padding-left: 0;
        }

        .custom-input {
          max-width: none;
        }
      }


      .custom-input .label.font-validation-error + input {
        height: unset;
      }

      // @media screen and (width < $pc-breakpoint) {
      //   grid-template-columns: repeat(4, 1fr);
      //   gap: 28px;
      // }

      // @media screen and (width < $tablet-breakpoint) {
      //   grid-template-columns: repeat(3, 1fr);
      //   gap: 18px;
      // }

      // .remark {
      //   grid-column: span 5;

      //   @media screen and (width < $pc-breakpoint) {
      //     grid-column: span 4;
      //   }

      //   @media screen and (width < $tablet-breakpoint) {
      //     grid-column: span 3;
      //   }
      // }

      .label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 150px;

        @media screen and (width < 1200px) {
          max-width: 130px;
        }

        @media screen and (width < 830px) {
          max-width: 100px;
        }
      }
    }
  }

  .productionOrder-table {
    display: flex;
    flex-direction: column;
    margin: 3em 0;

    .ant-table-body {
      overflow: auto !important;
    }
  }
}
