.situation-label {
    align-self:center;
    flex:0 0 auto;
    margin-right:0;
    font-size:14px;
    font-weight: 400;
  
  }

  .custom-input:has([name="situation"]){
    margin-left:-40px;
    .ant-select-selection-item {
        font-size:14px;
    }

  }

  .custom-input [name="situation"] {
    width:120px;
    margin-right:100px;
    .ant-select-selector {
      min-height:20px !important;
    }
  }

  .custom-input:has([name="situation"]){
    align-self:center;
   }
  



